.chatApp {
  width: 1440px;
  height: 700px;
}
.header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: #b1acac;
}
.sideNav {
    display:float;
    width: 4.5%;
    height: 90%;
    float: left;
    background-color: #424c7b;
}
.chatWindow {
    display:float;
    width: 95%;
    height: 90%;
    float: left;
}
.chatList {
    clear: both;
    display:float;
    width: 24.5%;
    height: 100%;
    float: left;
    background-color: #f1f0f0;
}
.userMessagesContainer {
    width: 75%;
    height: 100%;
    float: left;
    display:float;
}
.userMessages {
    width: 100%;
    height: 85%;
}
.sendMessage {
    width: 100%;
    height: 14.9%;
}
.userMessage {
    width: 100%;
    height: 10%;
}
.msgItems{

}
.message {
    float: left;
    clear: both;
    margin-top: 2px;
    font-weight: lighter;
}
.user {
    float: left;
}
.grey{
  background-color: #eae6e6;
}
.timestamp {
    float: right;
}
.msgTxt{
    width: 98%;
    font-size: 14px;
    height: 45px;
    margin: 6px;
    text-align: left;
    vertical-align: top;
    padding: 0;
}
.msgTxt:focus {
    outline: none;
}
.sendBtn{
    width: 130px;
    padding: 3px;
    display: block;
    float: right;
    margin-top: 3px;
    text-decoration: none;
    background-color: #ccc;
}


